<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.ombawebsite.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.ombawebsite.LogoutServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBeneficiary</servlet-name>
		<url-pattern>/addBeneficiary</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddBeneficiary</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.AddBeneficiary</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckBalance</servlet-name>
		<url-pattern>/accountBalance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckBalance</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.CheckBalance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiniStatement</servlet-name>
		<url-pattern>/ministatement</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MiniStatement</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.MiniStatement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionHistory</servlet-name>
		<url-pattern>/transactionHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionHistory</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.TransactionHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Transaction</servlet-name>
		<url-pattern>/transaction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Transaction</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.TransactionSelect</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageAccount</servlet-name>
		<url-pattern>/manageAccount</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageAccount</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.ManageAccount</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransferFunds</servlet-name>
		<url-pattern>/transferFunds</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransferFunds</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.TransferFunds</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SQ</servlet-name>
		<url-pattern>/SQ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SQ</servlet-name>
		<servlet-class>com.ombawebsite.SQservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BeneficiaryUpdate</servlet-name>
		<url-pattern>/BeneficiaryUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BeneficiaryUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.BeneficiaryUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BalanceUpdate</servlet-name>
		<url-pattern>/BalanceUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BalanceUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.BalanceUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginUpdate</servlet-name>
		<url-pattern>/LoginUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.LoginUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SQUpdate</servlet-name>
		<url-pattern>/SQUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SQUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.SQUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginSQ</servlet-name>
		<url-pattern>/LoginSQ</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginSQ</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.LoginSQ</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MiniStatementUpdate</servlet-name>
		<url-pattern>/MiniStatementUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MiniStatementUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.MiniStatementUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TransactionHistoryUpdate</servlet-name>
		<url-pattern>/TransactionHistoryUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TransactionHistoryUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.TransactionHistoryUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageAccUpdate</servlet-name>
		<url-pattern>/ManageAccUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageAccUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.ManageAccUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/transfunds</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.TransferFundsUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetBeneficiaryList</servlet-name>
		<url-pattern>/getBeneficiaryList</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetBeneficiaryList</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.GetBeneficiaryList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerDetailsUpdate</servlet-name>
		<url-pattern>/customerDetailsUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CustomerDetailsUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.CustomerDetailsUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddSecurityQuestion</servlet-name>
		<url-pattern>/AddSecurityQuestion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddSecurityQuestion</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.AddSecurityQuestion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleTransfer</servlet-name>
		<url-pattern>/schtransfer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScheduleTransfer</servlet-name>
		<servlet-class>com.ombawebsite.Servlets.ScheduleTransfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScheduleTransferUpdate</servlet-name>
		<url-pattern>/schTransferUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScheduleTransferUpdate</servlet-name>
		<servlet-class>com.ombawebsite.XmlStatusUpdates.ScheduleTransferUpdate</servlet-class>
	</servlet>
	<welcome-file-list>
		<welcome-file>main.html</welcome-file>
	</welcome-file-list>
</web-app>
